<% layout("/layouts/boilerplate") %>
<body>
    <div class="container ms-5 " >
       <div class="text-center mb-4">
        <h2 style="color:darkgreen;">Edit Form</h2>
       </div>
        <br>
        
        <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="image">Original Image</label><br>
                <input id="location" name="listing[location]" value="<%= blurImage %>" type="text" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="image"> Upload New Image</label><br>
                <input id="image" name="listing[image]" type="file" class="form-control-file" >
            </div>
            <br>
            <div class="form-group">
                <label for="price">Price</label>
                <input id="price" name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="location">Location</label>
                <input id="location" name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="country">Country</label>
                <input id="country" name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
            </div>
<br>
            <button type="submit" class="btn btn-primary mt-3">EDIT</button>
        </form>
    </div>
</body>
